# Environment Variables
.env
.env.*

# Logs
*.log

# Docker
docker-compose.override.yml

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary Files
*.tmp
*.swp